<!DOCTYPE html>
<html>
<head>
    <title>adminNotification</title>
</head>
<body>
    <h1>Nieuwe Bedrijfsregistratie</h1>
    <p>Een nieuw bedrijf is geregistreerd:</p>
    <p><strong>Bedrijfsnaam:</strong> <%= Bedrijfsnaam %></p>
    <p><strong>Contactpersoon:</strong> <%= contactperson %></p>
    <p>Gelieve de aanvraag in uw beheerderspaneel te bekijken.</p>
    <p>Met vriendelijke groet,<br>Team Allesintubbergen.nl</p>
</body>
</html>
