<!DOCTYPE html>
<html>
<head>
    <title>Bedrijfsregistratie</title>
</head>
<body>
    <h1>Beste <%= bedrijfsnaam %>,</h1>
    <p>Bedankt voor uw aanvraag! We zullen deze beoordelen. U ontvangt hiervan spoedig onze reactie.</p>
    <p>Met vriendelijke groet,<br>Team Allesintubbergen.nl</p>
</body>
</html>
