<!DOCTYPE html>
<html>
<head>
    <title>Bedrijfsregistratie Geweerd</title>
</head>
<body>
    <h1>Beste <%= bedrijfsnaam %>,</h1>
    <p>Helaas hebben wij uw profiel niet kunnen toevoegen aan onze website.</p>
    <p>Met vriendelijke groet,<br>Team Allesintubbergen.nl</p>
</body>
</html>
