<!DOCTYPE html>
<html>
<head>
    <title>Company Registration Accepted</title>
</head>
<body>
    <h1>Congratulations, <%= bedrijfsnaam %>!</h1>
    <p>Your company registration has been accepted.</p>
    <p>Thank you for joining us!</p>
    <p>Best regards,<br>Your Company Team</p>
</body>
</html>
