<!DOCTYPE html>
<html>
<head>
    <title>Company Registration Rejected</title>
</head>
<body>
    <h1>Dear <%= bedrijfsnaam %>,</h1>
    <p>We regret to inform you that your company registration has been rejected.</p>
    <p>Please contact us for more details.</p>
    <p>Best regards,<br>Your Company Team</p>
</body>
</html>
