<!DOCTYPE html>
<html>
<head>
    <title>Bedrijfsregistratie Geaccepteerd</title>
</head>
<body>
    <h1>Beste <%= bedrijfsnaam %>,</h1>
    <p>Uw profiel is toegevoegd aan onze gids. Uw berichten zullen spoedig worden getoond op de website.</p>
    <p>Met vriendelijke groet,<br>Team Allesintubbergen.nl</p>
</body>
</html>
