<!DOCTYPE html>
<html>
<head>
    <title>Scraping</title>
</head>
<body>
    <h1>Beste admin,</h1>
    <p>het schrapen is begonnen. U ontvangt bericht zodra het schrapen is voltooid
    </p>
</br>
StartedAt : <%= finishedAt %>
</body>
</html>
