<!DOCTYPE html>
<html>
<head>
    <title>Scraping</title>
</head>
<body>
    <h1>Beste admin,</h1>
    <p>Wij informeren u dat het schrapen is voltooid.
    </p>
</br>
    total URLs : <%= total %>
</br>
Scrapped URLs : <%= scrapped %>
</br>
FinishedAt : <%= finishedAt %>


</body>
</html>
